*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/wkbase/build
/wklogin/build
/wkscan/build
/wkpush/build
/wkuikit/build
/captures
.externalNativeBuild
.cxx
local.properties
