<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity
            android:name=".act.WKWebViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="url"
                    android:scheme="com.xinbida.tangsengdaodao" />
            </intent-filter>
        </activity>
        <activity android:name=".act.WKCropImageActivity" />

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />

    </application>
</manifest>
